h1{
  text-align: center;
  align-items: center;
}
.table{
  margin-top: 15px;
    border-radius: 25px;
    background: linear-gradient(45deg,#62CDFF,#AA77FF );
}
.asd input{
  align-items: center;
  text-align: center;
  border-radius: 55px;
  box-shadow: #62CDFF;
  padding: 10px;
  background: linear-gradient(45deg,#62CDFF,#AA77FF );
}
.asd{
  text-align: center;
  align-items: center;
}
